%h2 Insert result

= simple_form_for @participant do |f|

  %p= "Hello, #{@participant.name}! Fill in your result for the run"
  .fieldset
    = f.input :time
    = hidden_field_tag "token", params[:token]

  = f.submit 'Submit your result'

