%h2 Register for the run

= simple_form_for @participant do |f|
  = f.input :name
  = f.input :email
  = f.association :run, :collection => Run.registerable
  = f.association :distance, :collection => []

  = f.submit "Register for the run"

= javascript_tag "var distances = #{@distances}"
