%h1 Kudos
%div.box.box-01.license
  %p
    = link_to "Nico Prang", "http://twitter.com/dirtdiggela"    
    %br
    = link_to "Mike Poltyn", "http://twitter.com/holek_"    
    %br
    = link_to "Antonio Santos", "http://twitter.com/wottam"    
    %br
    = link_to "Juan G Hurtado", "http://twitter.com/juanghurtado"
    %br
    = link_to "Jan Kus", "http://twitter.com/koos"
    %br
    = link_to "All Railscamp_es participants", "http://twitter.com/railscamp_es"

%h1 Contact
%div.box.box-01.license
  %p
    =# mail_to "swat-team@railsrunners.org"
    = mail_to "jan@railslove.com"
  %p
    =link_to "@railsrunners", "http://twitter.com/railsrunners"
