%h2 Edit run

= simple_form_for @run do |f|
  = f.input :name, :hint => "Keep it the same as Railscamp name, so people will find it easily"
  = f.input :url, :hint => "Put Railscamp URL"
  #distances.input.numeric.float.optional
    %label.float.optional{:for=>"run_distance_in_km"} Distance in km
    %input.numeric.float.optional.distance{:min=>"0.01", :name =>"run[distances_attributes][][distance_in_km]", :step=>"any", :type=>"number"}
    %span.add_distance_field [+]
  = f.input :start_at, :as => :datetime, :start_year => Date.today.year, :start_month => Date.today.month, :start_day => Date.today.day, :end_year => Date.today.year + 12
  = f.input :charity, :hint => "Charity of your choice"
  = f.input :charity_url, :hint => "URL address to page with donation information"
  = f.input :notes, :as => :text, :input_html => {:rows => 4}
  = f.input :map_url, :hint => "URL address to page with your running track"

  = f.submit "Update the run"

