%div.box.box-01
  %p.links
    =link_to "Create a new run", new_run_path
    |
    =link_to "Participate", new_participation_path

  %ul#runs
    - @runs.each do |run|
      %li
        .name=run.visual_name
        .run_detail.start_at
          %span.label When
          %span.content=run.start_at
        .run_detail.organized_by
          %span.label Who is organizing
          %span.content=run.user.name
        .run_detail.charity
          %span.label Charity to donate
          %span.content=link_to run.charity, run.charity_url
        - if run.participants.size > 0
          .run_detail.no_of_participants
            %span.label=t('.participants', :count => run.participants.size)
        %div
          - if run.map_url.present? && run.msid.present?
            = image_tag run.map_url
            %div
              %small
                = link_to("View Larger Map", "http://maps.google.com/maps/ms?msid=#{run.msid}&msa=0" , :class => 'button small')
        .run_detail.notes
          %span.label Notes
          %br
          %span.content=run.notes
        - if current_user && current_user.runs.include?(run)
          = link_to "Edit", edit_run_url(run)
        %p.span.label
          Results
          - run.distances.each do |distance|
            Distance:
            = distance.distance_in_km
            - if distance.participants.blank?
              nobody ran that distance
            %ul
              - distance.participants.each do |participant|
                %li(style = "display: block")
                  %strong
                    Name:
                  = participant.name
                  %strong
                    Time:
                  = participant.time
